<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List All of Users</title>
</head>
<body>
  <h1>All users</h1>
<h1>User Data</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
      </tr>
    </thead>
    <tbody>
      <% userData.forEach(function(user) { %>
        <tr>
          <td><%= user.nama %></td>
          <td><%= user.email %></td>
          <td><%= user.password %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</body>
</html>
